doctype
html(lang="ja")
    head
        include _include/meta
        title タイトル
        link(rel='stylesheet', href="css/style.css")
    body
        p Hello World
        script(src="js/app.js", type="text/javascript")
